$bg: url("./assets/border template.png");

:root {
  font-family: Sacramento, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  min-width: 320px;
  max-width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  background: $bg no-repeat;
  background-size: cover;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:focus {
  outline: 3px solid sandybrown;
}
